/* 
  play with different borders..
  make it configurable? also should be able to have no border.
*/
.explorer-page {
  padding: 6px;
  /* background-color: #4b5167; */
  /* background-color: #7b829d; */
  background-color: black;
  position: relative;
}

.mb-canvas-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  /* border: 1px solid #555; */
  border: 2px solid #809dbf;
  background-color: white;
}

canvas.mb-canvas {
  position: absolute;
}
