.explorer-page {
  position: relative;
}

.mb-canvas-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
}

canvas.mb-canvas {
  position: absolute;
}
