.App {
    /* width: 100%; */
}

.home-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-page-container > header {
    padding-left:  20px;
}

.home-page-container > header .link-bar > a {
    margin-right: 10px;
}

.snapshot-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    padding: 20px;
}


.snapshot-gallery-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 10px;

    overflow: hidden;
}

.snapshot-gallery-item img {
    /*height: 100px;*/
    /*width: 100px;*/
}

.snapshot-gallery-item > a {
    font-size: 14px;
    overflow: hidden;
    /*width: 100px;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}
