
.settings-panel {
  display: flex; 
  flex-direction: column;
  margin: 20px;
  width: 175px;
  z-index: 2; /* This allows color picker to float */
}

.settings-panel header.app-name {
  font-size: 22px;
  margin-bottom: 25px;
}

.settings-panel header.app-name a {
  text-decoration: none;
  color: inherit;
}
.settings-panel header.app-name a:hover {
  color: #6a6a6a;
}

.settings-panel > header.primary {
  color:  #333;
  font-weight: bold;
}

.settings-panel section.data-section {
  margin-top: 15px;
  color: #333;
}

.settings-panel .data-header {
  /*font-size: 15px;*/
}

.settings-panel .data-subheader {
  margin-bottom: 5px;
  font-size: 14px;
}

.settings-panel .data-subheader,
.settings-panel .data-header + .data-row {
  margin-top: 10px;
}

.settings-panel .data-row {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  padding-left: 10px;
}

.settings-panel .data-row + .data-row {
  margin-top: 3px;
}

.settings-panel .data-row label {
  margin-right: 8px;
  /*color: #4a3822;*/
  color: #40301b;
  flex-shrink: 0;
}

.settings-panel .data-row .value {
  word-break: break-all;
}

.settings-panel .data-row .value,
.settings-panel .select-with-custom-option select,
.settings-panel select.settings-select,
.settings-panel .select-with-custom-option .custom-value-input {
  /*color: #814e0e;*/
  color: #7a490b;
  font-size: 13px;
}

.settings-panel .select-with-custom-option select,
.settings-panel select.settings-select,
.settings-panel .select-with-custom-option .custom-value-input {
  background-color: #fffbf5;
  border: 1px solid #93887a;
  border-radius: 3px;
  /*border: 1px solid #40301b;*/
}

.settings-panel section.data-section.coords-display .data-row label {
  width: 60px;
}

.settings-panel .select-with-custom-option button:not(:disabled) {
  color: #444;
  background-color: #efebe5;
  border: 1px solid #999;
  border-radius: 3px;
}

.settings-panel .data-row.color-picker-row {
  align-items: center;
  margin-bottom: 7px;
}

.settings-panel .color-picker-row .color-picker + .color-picker {
  margin-left: 8px;
}

.settings-panel .color-picker .picker-panel {
  background-color: #e1ddd5;
  border: 1px solid #93887a;
}

.settings-panel .color-picker .current-color {
  border: 1px solid #93887a;
}

section.data-section + header.primary {
  margin-top: 25px;
}

section.data-section.computation .data-row label {
  width: 58px;
}


section.data-section.guide-for-controls {
  margin-top: 10px;
}
section.data-section.guide-for-controls .data-row {
  margin-top: 5px;
}
section.data-section.guide-for-controls .ui-action {
  /*color: #935915;*/
  color: #7a490b;
  font-style: italic;
}
