.App {
  display: flex;
  flex-direction: row;
  /*align-items:  center;*/
  background-color: #f7f7f7;
  background-color: #e1ddd5
}

.mandelbrot-plot-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
}

canvas.mandelbrot-canvas {
  border: 1px solid #aaa;
  background-color: white;
  user-select: none;
}
