
.mandelbrot-plot-container .computation-status {
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  color: #7a490b;
}

.mandelbrot-plot-container .plot-overlay,
.mandelbrot-plot-container .pannable {
  background-color: transparent;
  display: flex;
  flex: 1;
}
